@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap");

.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #000000;
  height: 9904px;
  position: relative;
  overflow: hidden;
}
._1 {
  width: 2203.89px;
  height: 1528.42px;
  position: absolute;
  left: -205.02px;
  top: 2378.44px;
  transform-origin: 0 0;
  transform: rotate(-8.93deg) scale(1, 1);
  object-fit: cover;
}
._2 {
  width: 2761.54px;
  height: 1915.15px;
  position: absolute;
  left: -252.95px;
  top: 4493px;
  transform-origin: 0 0;
  transform: rotate(17.442deg) scale(1, 1);
  object-fit: cover;
}
._12 {
  width: 596px;
  height: 842px;
  position: absolute;
  left: 149px;
  top: 8506px;
  object-fit: cover;
}
._13 {
  width: 1456px;
  height: 1605px;
  position: absolute;
  left: 264px;
  top: 6808px;
  object-fit: cover;
}
._3 {
  opacity: 0.88;
  width: 1305px;
  height: 1749px;
  position: absolute;
  left: 342px;
  top: 3497px;
  object-fit: cover;
}
._14 {
  opacity: 0.23;
  width: 922.94px;
  height: 1224.53px;
  position: absolute;
  left: 1414.64px;
  top: 940px;
  transform-origin: 0 0;
  transform: rotate(21.09deg) scale(1, 1);
  object-fit: cover;
}
._22 {
  opacity: 0.28;
  width: 854.94px;
  height: 1263.66px;
  position: absolute;
  left: 995px;
  top: 8545.98px;
  transform-origin: 0 0;
  transform: rotate(-12.564deg) scale(1, 1);
  object-fit: cover;
}
.image {
  width: 1920px;
  height: 837px;
  position: absolute;
  left: 0px;
  top: 103px;
  object-fit: cover;
}
._1-1 {
  width: 708.95px;
  height: 944.23px;
  position: absolute;
  left: 1317.9px;
  top: 6186px;
  transform-origin: 0 0;
  transform: rotate(17.37deg) scale(1, 1);
  object-fit: cover;
}
._23 {
  opacity: 0.2;
  width: 596px;
  height: 842px;
  position: absolute;
  left: 328.69px;
  top: 618px;
  transform-origin: 0 0;
  transform: rotate(33.579deg) scale(1, 1);
  object-fit: cover;
}
._15 {
  width: 1514px;
  height: 955px;
  position: absolute;
  left: 203px;
  top: 834px;
  object-fit: cover;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.div {
  color: #ff6200;
  text-align: center;
  font-family: "Hahmlet-SemiBold", sans-serif;
  font-size: 170px;
  font-weight: 600;
  position: absolute;
  left: 298px;
  top: 661px;
  width: 1351px;
  height: 173px;
}
.div2 {
  color: #ff8000;
  text-align: center;
  font-family: "Hahmlet-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 914px;
  top: 894px;
  width: 656px;
  height: 80px;
}
._99 {
  color: #ff8000;
  text-align: center;
  font-family: "Hahmlet-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 404px;
  top: 1722px;
  width: 1111px;
  height: 55px;
}
.triport-rock-festival-1999-7-31 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 610px;
  top: 1866px;
  width: 728px;
  height: 352px;
}
.triport-rock-festival-1999-7-31-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
.triport-rock-festival-1999-7-31-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.triport-rock-festival-1999-7-31-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
.triport-rock-festival-1999-7-31-span6 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span7 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.triport-rock-festival-1999-7-31-span8 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.triport-rock-festival-1999-7-31-span9 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
.triport-rock-festival-1999-7-31-span10 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.infp {
  color: #ff8000;
  text-align: center;
  font-family: "Hahmlet-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 482px;
  top: 6785px;
  width: 983px;
  height: 55px;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 914px;
  top: 7082px;
  width: 601px;
  height: 240px;
}
.div4 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 928px;
  top: 8253px;
  width: 601px;
  height: 240px;
}
.div5 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 459px;
  top: 7620px;
  width: 573px;
  height: 240px;
}
._2024-11-24-10-39-16-2 {
  width: 459px;
  height: 509px;
  position: absolute;
  left: 1069px;
  top: 7518px;
  object-fit: cover;
}
._2024-11-24-10-39-16-1 {
  border-radius: 22px;
  width: 417px;
  height: 509px;
  position: absolute;
  left: 463px;
  top: 6980px;
  object-fit: cover;
}
._2024-11-24-10-39-16-3 {
  border-radius: 22px;
  width: 417px;
  height: 509px;
  position: absolute;
  left: 460px;
  top: 8119px;
  object-fit: cover;
}
.div6 {
  color: #ff8000;
  text-align: center;
  font-family: "Hahmlet-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 469px;
  top: 3792px;
  width: 983px;
  height: 55px;
}
._19-2022-10-1-21-2-3-56-2022 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 982px;
  top: 3997px;
  width: 544px;
  height: 358px;
}
._19-2022-10-1-21-2-3-56-2022-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-21-2-3-56-2022-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  text-decoration: underline;
}
._19-2022-10-1-21-2-3-56-2022-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-21-2-3-56-2022-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._19-2022-10-1-21-2-3-56-2022-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-21-2-3-56-2022-span6 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._19-2022-10-1-21-2-3-56-2022-span7 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-21-2-3-56-2022-span8 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._19-2022-10-1-21-2-3-56-2022-span9 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-21-2-3-56-2022-span10 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._19-2022-10-1-21-2-3-56-2022-span11 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._19-2022-10-1-21-2-3-56-2022-span12 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._19-2022-10-1-21-2-3-56-2022-span13 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._7-8-2022-8-20-30-sns {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 453px;
  top: 4457px;
  width: 487px;
  height: 335px;
}
._7-8-2022-8-20-30-sns-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._7-8-2022-8-20-30-sns-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._7-8-2022-8-20-30-sns-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._7-8-2022-8-20-30-sns-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._7-8-2022-8-20-30-sns-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.image-1 {
  width: 497px;
  height: 621px;
  position: absolute;
  left: 1010px;
  top: 4400px;
  object-fit: cover;
}
._2024-11-24-10-21-24-1 {
  width: 557px;
  height: 382px;
  position: absolute;
  left: 394px;
  top: 3985px;
  object-fit: cover;
}
.div7 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 487px;
  top: 9233px;
  width: 972px;
  height: 96px;
}
.div8 {
  color: #ff6200;
  text-align: center;
  font-family: "Hahmlet-SemiBold", sans-serif;
  font-size: 170px;
  font-weight: 600;
  position: absolute;
  left: 298px;
  top: 8927px;
  width: 1351px;
  height: 173px;
}
.div9 {
  color: #ffffff;
  text-align: center;
  font-family: "Hahmlet-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 320px;
  top: 2744.43px;
  width: 1193px;
  height: 55px;
  transform-origin: 0 0;
  transform: rotate(-8.942deg) scale(1, 1);
}
._99-9-2000-7-2006-2007-m {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 610.32px;
  top: 3180.61px;
  width: 728px;
  height: 287px;
  transform-origin: 0 0;
  transform: rotate(-8.942deg) scale(1, 1);
}
._99-9-2000-7-2006-2007-m-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span4 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span5 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span6 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span7 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
._99-9-2000-7-2006-2007-m-span8 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span9 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span10 {
  color: #ffffff;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
}
._99-9-2000-7-2006-2007-m-span11 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span12 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span13 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._99-9-2000-7-2006-2007-m-span14 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._99-9-2000-7-2006-2007-m-span15 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.table-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 998px;
  position: absolute;
  left: 439.5px;
  top: 2873.43px;
  transform-origin: 0 0;
  transform: rotate(-8.942deg) scale(1, 1);
}
.table {
  background: rgba(255, 128, 0, 0.16);
  border-radius: 4px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row {
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.cell {
  background: #ffc285;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.content {
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.cell2 {
  background: #ffefdf;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.text2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.div10 {
  color: #ffffff;
  text-align: center;
  font-family: "Hahmlet-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 451.83px;
  top: 5295px;
  width: 1083px;
  height: 55px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
._6 {
  color: #ffffff;
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 698.81px;
  top: 6202.61px;
  width: 411px;
  height: 52px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
._6-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._6-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._6-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._2012-2024 {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 497.41px;
  top: 5409px;
  width: 915px;
  height: 96px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
._2012-2024-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._2012-2024-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
._2012-2024-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div11 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 703.47px;
  top: 5638.04px;
  width: 335px;
  height: 129px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
.div-11-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div-11-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.div-11-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div12 {
  color: #ffffff;
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 840.42px;
  top: 5805.18px;
  width: 359px;
  height: 59px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
.div-12-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div-12-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.div-12-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div13 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: absolute;
  left: 648.75px;
  top: 5974.62px;
  width: 364px;
  height: 120px;
  transform-origin: 0 0;
  transform: rotate(9.235deg) scale(1, 1);
}
.div-13-span {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.div-13-span2 {
  color: #ffffff;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
}
.div-13-span3 {
  color: #ffffff;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
._1-12 {
  width: 769px;
  height: 1087px;
  position: absolute;
  left: 1233px;
  top: 4355px;
  object-fit: cover;
}
._16 {
  width: 262px;
  height: 370px;
  position: absolute;
  left: 230px;
  top: 1407px;
  object-fit: cover;
}
._17 {
  width: 290px;
  height: 409px;
  position: absolute;
  left: 1453px;
  top: 940px;
  object-fit: cover;
}
._18 {
  width: 311px;
  height: 439px;
  position: absolute;
  left: 1351px;
  top: 2759px;
  object-fit: cover;
}
._19 {
  width: 280px;
  height: 396px;
  position: absolute;
  left: 114px;
  top: 5013px;
  object-fit: cover;
}
._1-13 {
  width: 582.32px;
  height: 822.68px;
  position: absolute;
  left: 484.16px;
  top: 2739.85px;
  transform-origin: 0 0;
  transform: rotate(-145.371deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-1 {
  background: #ff8000;
  width: 1920px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #ff8000;
  width: 1920px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 9779px;
}
